<h1 align="center">awesome lookup app</h1>
<div id="remote" align="center">
    <input class="typeahead" type="text" placeholder="start typing">
</div>

<script>
  $( function() {
    var bestProducts = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace(','),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      remote: {
        url: 'search?term=%QUERY',
        wildcard: '%QUERY'
      }
    });
    
    $('#remote .typeahead').typeahead(null, {
      name: 'best-pictures',
      source: bestProducts
    });
  } );

</script>
